html, body {
    font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-print-color-adjust: exact;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --mainColor: #657B8B;
    --secColor: #FFEEDD;
}

#mainContainer {
    margin: 0 auto;
    max-width: 764px;
    box-shadow: 0px 0px 3px 0px #888;
    background: var(--mainColor);
    display: flex;
    flex-direction: row;
}
#infoContainer {
    flex: 3;
    margin: 15px 0;
    padding: 25px;
    background: var(--secColor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--mainColor);
}
#contentContainer {
    flex: 5;
    padding: 20px 38px;
    color: #FEFEFE;
}

/* info containers */
.subTitleText {
    margin: 25px 0 0 0;
}
/* profile image */
#profileImg {
    display: block;
    margin: 20px auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
/* name / role */
#nameText {
    margin-bottom: 0;
}
#roleText {
    margin-top: 10px;
}
.separator {
    width: 100px;
    height: 6px;
    background: var(--mainColor);
}
/* langues */
.languageText {
    margin: 10px 0 0 0;
    font-size: 12px;
}
.void {
    height: 10px;
    width: 10px;
    background-color: #CCC;
    border-radius: 50%;
    display: inline-block;
}
.fill {
    height: 10px;
    width: 10px;
    background-color: var(--mainColor);
    border-radius: 50%;
    display: inline-block;
}
/* loisirs */
#hobbiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
.hobbieIcon {
    flex: 1;
}
.hobbieIcon p {
    margin-top: 5px;
}
#hobbiesContainer p {
    font-size: 12px;
    margin-bottom: 0;
}
#hobbiesContainer i {
    font-size: 20px;
}
/* contact */
.contactIcon {
    margin: 10px 0 0 0;
}
.contactIcon p {
    font-size: 12px;
    margin: 0 0 0 2px;
    display: inline-block;
}
.contactIcon a {
    color: var(--mainColor);
}
#emailLink:hover {
    color: #37424b;
}
#linksIconsContainer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
#linksIconsContainer a {
    font-size: 30px;
}
#linksIconsContainer a:hover {
    transform: scale(1.1)
}
/* content containers */
.contentTitle {
    background: var(--secColor);
    padding: 6px 12px;
    color: var(--mainColor);
}
/* hard skills */
#hardSkillsContent {
    display: flex;
    flex-flow: row wrap;
}
#hardSkillsContent h5 {
    margin: 0;
}
#hardSkillsContent ul {
    margin: 8px 0;
    padding-left: 30px;
}
#hardSkillsContent li {
    font-size: 12px;
}
.hardSkillEl {
    flex: 1 0 50%;
}
/* soft skills */
#softSkillsContent {
    display: flex;
    flex-direction: row;
}
#softSkillsContent ul {
    margin: 0 0 8px 0;
    padding-left: 30px;
}
#softSkillsContent li {
    font-size: 12px;
}
.softSkillEl {
    flex-basis: 50%;
}
/* etudes & formations // experiences */
.listContent {
    display: flex;
}
.listContent > div {
    flex: 1;
}
.listContentText {
    font-size: 12px;
    margin: 0;
}
.listContentDate {
    font-size: 10px;
    margin-top: 0;
}
.textAlignRight {
    text-align: right;
}