.timeline-container {
    margin-left: 3rem;
}

.timeline-item {
    &:not(:last-child) {
        padding-bottom: 1.6rem;
    }
    position: relative;

    &::after {
        position: absolute;
        content: "";
        border-left: solid 0.2rem var(--primaryTextColor);
        height: 100%;
        left: 11rem;
    }

    &::before {
        position: absolute;
        content: "";
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: var(--primaryTextColor);
        left: 10.7rem;
    }
}

.dates {
    width: 8rem;
    position: relative;
    margin-right: 3rem;
    font-weight: bold;
}

.details-container {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.2rem;
}

.subject {
    color: var(--lighterTextColor);
}
