.language-row {
    margin-top: 1rem;
}

.language-name {
    margin-left: 3rem;
    margin-right: 0.6rem;
}

.skill-bullet {
    width: 0.6em;
    height: 0.6rem;
    margin-left: 0.3rem;
    display: inline-block;
    border-radius: 50%;
    background-color: #bec8c7;

    &--filled {
        background-color: var(--secondaryColor);
    }
}
