<app-title type="main" [content]="title"></app-title>

<div class="list-container">
    <div
        *ngFor="let item of items"
        [ngClass]="
            item.title
                ? 'items-container--subtitle'
                : 'items-container--no-subtitle'
        "
    >
        <ng-container *ngIf="item.title; else elseBlock">
            <h4 class="sub-title">{{ item.title }}</h4>
            <ul class="sub-items-container">
                <li *ngFor="let item of item.items" class="sub-item">
                    {{ item }}
                </li>
            </ul>
        </ng-container>
        <ng-template #elseBlock>
            <ul class="sub-items-container">
                <li *ngFor="let item of item.items" class="sub-item">
                    {{ item }}
                </li>
            </ul>
        </ng-template>
    </div>
</div>
