.list-container {
    margin-left: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.items-container {
    &--subtitle {
        flex-basis: 50%;

        .sub-items-container {
            padding-left: 3rem;
        }
    }

    &--no-subtitle {
        .sub-items-container {
            display: flex;
            flex-wrap: wrap;
            padding-left: 1.2rem;
        }

        .sub-item {
            flex: calc(100% / 3);
        }
    }
}

.sub-title {
    margin: 1rem 0;
}

.sub-items-container {
    margin: 0;
    list-style: none;
}

.sub-item {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        top: 0.1rem;
        left: -1.6rem;
        background: url("../../../assets/icons/chevron-right.svg");
        background-position: center;
    }
}
