.sub-title {
    margin-left: 3rem;
    margin-top: 60px;
    font-size: 1.5rem;
}

.main-title {
    color: var(--secondaryColor);
    font-weight: 400;
    font-size: 1.5rem;
    border: 1.5px solid var(--secondaryColor);
    border-right: none;
    border-radius: 22px 0 0 22px;
    padding: 6px 20px;
    width: 60%;
    margin-left: auto;
}
